body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin: 50px;
}
.new-one{
    width: 50%;
    padding-left: 2%;
   
}
.new-one img{
    width: 90%;
}
.link-button{
    text-decoration: none;
  background-image:linear-gradient(orange,tomato);
    border-radius: 5px;
    font-weight: 400;
}
.new-two{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0%;
}
.experiance-item{
    box-shadow: 10px 10px 40px yellowgreen;
    margin-left: 3%;
    margin-right: 3%;
    width: 40%;
    padding-left: 5%;
    border-radius: 5%;
    
}
.exp-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
#web-developer{
    border-left: 7px solid red;
}
#baby-developer{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}